<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h5>
        <%= ques.question %> <span
                class="bg-gray-100 text-gray-800 text-sm font-small mr-2 px-2.5 py-0.5 rounded dark:bg-gray-200 dark:text-gray-900 justify-center items-center items">
                <%= data.length %>
            </span>
    </h5>
    <ul class="list-none">
        <% for(var i=0; i<data.length; i++) {%>
            <form  method="delete" action="elections/<%= eid %>/questions/<%= qid  %>/options/<%= data[i].id %>" %></form>
            <li class="Todo-Item">
                <div class="flex items-center w-fit h-9 my-2 px-2 py-1 rounded hover:bg-purple-50">
                    <label for="todo-checkbox-<%= data[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer">
                        <%= data[i].optionname %>
                    </label>
                    <div class="flex-auto">
                        <a href="#" onclick="deleteoption(<%= eid %>,<%= ques.id %>,<%= data[i].id %>)" class="w-4 h-4  ml-2">
                            <button class="text-white bg-black  font-medium rounded px-5 py-2">Delete Option</button>
                        </a>
                        <a href="#" class="w-4 h-4  ml-2">
                            <button class="text-white bg-black  font-medium rounded px-5 py-2">Edit Option</button>
                        </a>
                    </div>
                </div>
            </li>
        </form>
        <% } %>
    </ul>
</body>