<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function deletequestion(ElectionId, QuestionId) {
            var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            fetch(`/elections/${ElectionId}/questions/${QuestionId}`, {
                method: 'delete',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            }).catch(err => console.error(err))
        }
    </script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-5">
            <h5 class="text-gray-800 text-3xl">
                Ballot where a Admin can create questions for the election <span
                    class="bg-gray-100 text-gray-800 text-sm font-small mr-2 px-2.5 py-0.5 rounded dark:bg-gray-200 dark:text-gray-900 justify-center items-center items">
                    <%= ques.length %>
                </span>
            </h5>
            <ul class="list-none">
                <% for(var i=0; i<ques.length; i++) {%>
                    <li class="Todo-Item">
                        <div class="flex items-center w-fit h-9 my-2 px-2 py-1 rounded hover:bg-purple-50">
                            <label for="todo-checkbox-<%= ques[i].id %>"
                                class="ml-2 text-sm text-gray-600 cursor-pointer">
                                <%= ques[i].question %>
                            </label>
                            <div class="flex-auto">
                                <a href="" onclick="deletequestion(<%= elecid %>,<%= ques[i].id %>)"
                                    class="  w-4 h-4  ml-2">
                                    <button class="text-white bg-black  font-medium rounded px-5 py-2">Delete
                                        Question</button>
                                </a>
                            </div>
                            <div class="flex-auto">
                                <a href="/elections/<%- elecid %>/questions/<%- ques[i].id %>/options"
                                    class="  w-4 h-4  ml-2">
                                    <button class="text-white bg-black  font-medium rounded px-5 py-2">Add
                                        Options</button>
                                </a>
                            </div>
                        </div>
                    </li>

                    <% } %>
            </ul>
        </div>
    </div>
</body>